@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.articleMain {
  font-family:'Montserrat';
  width: 70%;
  display: flex;
  margin: auto;
  padding: 4rem;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  min-height: 20rem;
  box-shadow: 0 5px 10px grey;
}

.articleHeading {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}


.titleBlock {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  position: relative;
  height: 21rem;
  width: 23rem;
  margin: .3rem .3rem .3rem .3rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
}

.titleContainer {
  position: absolute;
  border-radius: 5px;
  color:white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.artMainButtons{
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 0 .2rem 0 .2rem;
}

.artImg {
  position: absolute;
  width: 101%;
  height: 101%;
  left: 50%;
  top: 50%;
  filter: blur(1px);
  filter: brightness(.6);
  border-radius: 5px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.articleCard {
  max-height: 12rem;
  display: flex;
  position: relative;
  /* margin: auto; */
  margin: .5rem;
  text-align: left;
  background-color: white;
  box-shadow: 0 5px 10px grey;
}

.mainSector {
  max-width: 75%;
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.snmLogo {
  max-height: 10vh;
}

.headerMain {
  z-index: 10000;
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px grey;
}

.headerOptions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin: 1rem;
}

input {
  margin: 2rem;
}

.headOption {
  margin: 1rem;
  padding: .4rem 1rem .5rem 1rem;
  align-items: center;
}

.headOption:hover {
  background-color: lightgrey;
  border-radius: 4px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a > li {
  list-style-type: none;
  font-size: 17px;
}

li {
  text-align: justify;
}

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  margin: 0 1vw 0 2vw;
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.draftWrap {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 5px 10px grey;
}

textarea {
  width: 60%;
  margin: .5rem 1rem .5rem 1rem;
}

.ck.ck-editor {
  width: 90%;
}

blockquote {
  background-color: lightgrey;
  padding: .5rem 1rem .5rem 1rem;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 2px 5px grey;
}

h1 {
  font-family: 'Montserrat';
  font-size: 42px;
  font-weight: 700;
  line-height: 26.4px;
  width:80%;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

h2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h4 {
  margin: 2rem 5rem 2rem 5rem;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h5 {
  width: 60%;
  margin: 2rem 5rem 0 5rem;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.1;
}

p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: justify;
  text-indent: 20px;
}
